.panel-primary .accordion li.dcjq-parent-li {position: relative;}
.panel-primary .accordion li.dcjq-parent-li .dcjq-icon {float: right; width: 8px; position: absolute; top: 8px; right: 8px; background: url(../images/plus_red.png) no-repeat 0 center; cursor:pointer}
.panel-primary .accordion li.dcjq-parent-li .dcjq-icon:hover {background: url(../images/plus_red_hover.png) no-repeat 0 center;}
.panel-primary .accordion li.dcjq-parent-li > a + .dcjq-icon {display: block; width: 8px; background: url(../images/plus_red.png) no-repeat 0 center;}
.panel-primary .accordion li.dcjq-parent-li > a.active + .dcjq-icon {display: block; width: 8px; background: url(../images/minus_red.png) no-repeat 0 center;}
.panel-primary .accordion li > a + .dcjq-icon {display: none;}
.panel-primary .accordion li > a.active + .dcjq-icon {display: none;}
.panel-primary > ul > li a.active {
    font-weight: bold;
}