.sidebar {
  background-color: #f5f5f5;
  position: fixed;
  top: 0;
  bottom: 0;
  overflow-y: auto;
  padding-top: 20px;
  padding-bottom: 20px;
  padding-left: 0px;
  padding-right: 0px;

}

.p-l-15 {
  padding-left: 15px;
}

.active > a,
.active > a:hover,
.active > a:focus {
  color: #fff;
  background-color: #428bca;
}

.content {
  padding: 20px 40px;
}

.ct-label {
  font-size: 14px;
}
